@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}

body{
    font-family: "Roboto";
}

.main-btn{
    background-color: var(--red-color);
    color: var(--yellow-color)
}
.main-btn:hover{
    background-color: #b80f28;
    color: var(--yellow-color)
}
.main-title::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

/* start navbar */
.navbar{
    background-color: var(--dark-color);
}
.navbar button i{
    color: var(--green-color);
    font-size: 1.5rem;
}
.navbar .navbar-nav .nav-link{
    color: white;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus{
    color: var(--green-color);
}

.navbar .search{
    border-left: 1px solid var(--green-color);
}
.navbar .search i{
    color: var(--green-color);
}
/* end nav-bar */

/* start Landing */
.landing{
    background-color: var(--dark-color);
    min-height: calc(100vh - 92px);
}
/* end Landing */

/* start features */
.features .icon-holder{
    height: 200px;
}
.features .icon-holder i{
    left: 50%;
    transform: translateX(-50%);
}
.features .icon-holder .number{
    font-size: 12rem;
    color: var(--section-color);
}
.features .icon-holder .icon{
    color: var(--green-color);
}
.features .feat h4{
    color: var(--yellow-color);
}
/* end features */

/* start our-work */
.our-work{
    background-color: var(--section-color);
}
.our-work ul .active{
    background-color: var(--red-color);
    color: var(--yellow-color);
}
.our-work ul li{
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.our-work ul li:not(.active):hover{
    color: var(--red-color) !important;
}

.our-work .box{
    padding: 6px;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
}
.our-work .box:hover{
    padding: 0;
}

/* end our-work */

/* start stuff */
.stuff .descreption{
    max-width: 800px;
}
/* end stuff */

/* start team */
.team{
    background-color: var(--section-color);
}
.team h2{
    color: var(--yellow-color);
}
.team .box h4{
    background-color: var(--green-color);
}
/* end team */

/* start project */
.project{
    background-color: var(--dark-color);
}
/* end project */

/* start subscribe */
.subscribe{
    background-color: var(--yellow-color);
}
.subscribe input[type="text"]{
    border: none;
    border-bottom: 1px solid white;
}
.subscribe input[type="text"]:focus{
    outline: none;
}
.subscribe ::placeholder{
    color: white;
}
.subscribe input[type="submit"]{
    background-color: var(--dark-color);
    color: var(--yellow-color);
}

/* end subscribe */

/* start footer */
.footer{
    background-color: var(--dark-color);
}
.footer .copyright > span{
    color: var(--green-color);
}
.footer .copyright div span{
    color: var(--yellow-color);
}

.footer .contact ul .facebook{
    color: #1877f2;
}
.footer .contact ul .twitter{
    color: #1da1f2;
}
.footer .contact ul .linkedin{
    color: #0077b5;
}
.footer .contact ul .instgram{
    color: #fd1d1d;
}
/* end footer */